/* .card_container {
    
} */

.dash_card {
    --text: rgb(242, 40, 91);
    --bg: rgb(19, 19, 27);

    border-radius: 15px;
    border: 2px var(--text) solid;
    background-color: var(--bg);
    width: 12em;
    height: 5em;
    transition: width 1s, height 1s;
}

.dash_card:hover {
    width: 15em;
    height: 6em;
    transition: width 1s, height 1s;
}