/* .card_container {
    
} */

.dash_card {
    border-radius: 15px;
    border: 2px black solid;
    background-color: gray;
    width: 12em;
    height: 5em;
    transition: width 1s, height 1s;
}

.dash_card:hover {
    width: 15em;
    height: 6em;
    transition: width 1s, height 1s;
}

.container {
    border: 3px green solid;
    columns: 2;
}

.log_container {
    padding: 1%;
    border-radius: 20px;
    border: 2px black solid;
    background-color: gray;
    width: 20em;
}

.entry {
    border-radius: 7px;
    font-size: 15px;
    padding-left: 4px;
}