
.contents_table {
  border: 2px solid;
  border-color: rgb(0, 0, 0);
  font-size: 1.7em;
  border-spacing: 0px;
  border-collapse: collapse;
}

/* table, th, td {
  border: 4px solid;
  border-color: rgb(0, 0, 0);
} */

.delete_row_btn {
  --textSize: 30px;

  background-color: rgb(255, 100, 100);
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50%;
  cursor: pointer;

  font-size: 2em;
  text-align: center;
  height: var(--textSize);
  width: var(--textSize);
  line-height: 0px;
}

.add_row_btn {
  --textSize: 30px;

  background-color: rgb(100, 255, 100);
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50%;
  cursor: pointer;

  font-size: 2em;
  text-align: center;
  height: var(--textSize);
  width: var(--textSize);
  line-height: 0px;
}

.title_text {
  font-size: 3em;
  font-weight: bold;
}

.wrapper {
  position: relative;
}

.new_item {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  z-index: 10;
  margin: auto;
  padding: 30px;
  background-color: gray;
  border: 5px black solid;
  border-radius: 10px;
  width: 30%;
  height: 7em;
  display: none;
}