* {
  margin: 0;
  padding: 0;
}

html, body {
  /* overflow: hidden; */
  width: 100%;
  height: 100%;
}

body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  /* height: 100dvh;
  min-height: 100dvh; */
  
  background: repeating-linear-gradient(135deg, #ED1717, #F24D11, #F6830C, #FBB806, #FFCC00, #FBB806, #F6830C, #F24D11, #ED1717, #F24D11, #F6830C);
    background-size: 500% 500%;
    animation: gradient 30s infinite linear;
}

@keyframes gradient {
    0% {
        background-position: 100% 100%;
    }
    50% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0% 0%;
    }
}
 

/* =================== */
/* HEADER/FOOTER STUFF */
/* =================== */

header {
  width: 100%;
  position: relative;
  margin-top: 0;
}

footer {
  width: 100%;
  position: relative;
  margin-top: auto;
}

.white_bg {
  background-color: rgb(255, 255, 255);
  height: 35px;
}

.fade_down {
  background: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 70%);
  height: 70px;
  width: 100%;
}

.fade_up {
  background: linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 0, 0) 70%);
  height: 70px;
  width: 100%;
}
/* =================== */
/*  TEXT STUFF         */
/* =================== */

h1, h2 {
  display: inline;
  padding: 15px;
}

.page_link:hover {
  background: radial-gradient(rgba(255, 0, 0, 0.5), rgba(0, 0, 0, 0) 70%);
}

.other_pages {
  float: right;
  position: relative;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.fade_in {
  animation: fade-in 3s ease-in;
}

@keyframes fade-in {
  from {
     opacity: 0;
  }
  to {
     opacity: 1;
  }
}